@charset "UTF-8";
.container {
	display: flex;
	margin-bottom:5rem;
	border: 1px solid #000000;
}

.center,.right{
width: 40%;
height: 30rem;
padding-left:1rem;
}
.left {
	width: 20%;
	height: 30rem;
	margin:auto;
	overflow-x: scroll;
}


.left img {
	cursor: pointer;
}
